*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    background-image: url(../images/background-992850_1280.png);
}
a{
    color: gold;
    text-decoration: none;
    font-size: 20px;
}
.rp{
    color: red;
}
p{
    color: gold;
}
button{
    cursor: default;

}
.form{
    width: 50vw;
    height: 48vh;
    display: inline-block;
    margin-left: 25vw;
}
.table {
    width: 80vw;
    margin-left: 10vw;
}
.navbar{
    display: inline-block;

    width: 100vw;
}
.nav{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

