*{
    margin: 0;
    padding: 0;
}
a{
    color: yellow;
    text-decoration: none;
}
section{
    /*height: 24vh;*/
}
.s1{
    /*height: 9vh;*/
    width: 100vw;
    color: mediumblue;
    background-color: aqua;
}

p{
    color: black;
}

.rp{
    color: red;
}
button{
    cursor: default;

}

/*div{*/
/*    display: inline-block;*/
/*}*/
.form{
    width: 50vw !important;
    height: 80vh;
    display: inline-block;
}
.formlr{
    width: 25vw;
    height: 80vh;
    background-color: pink;
}
.form-group{
    width: 600px;
}
body{
    background-color: aqua;
}