*{
    margin: 0;
    padding: 0;
}
a{
    color: yellow;
    text-decoration: none;
}
section{
    height: 24vh;
}
.s1{
    height: 9vh;
    width: 100vw;
    color: mediumblue;
    background-color: aqua;
}
.s2{
    height: 80vh;
    width: 60vw;
    color: black;
    background-color: green;
}
p{
    color: black;
}

.rp{
    color: red;
}
button{
    cursor: default;

}